<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{ input }}
        <img v-bind:src="src" v-if="clicked" />
        <ul>
            <li v-for="a in bs">{{ a }}</li>
        </ul>
        <input v-model="input">
        <button v-on:click="click">btn {{ ttt }}</button>
        <h4>Save learn progress. </h4><a v-bind:href="progress" target="_blank">Continue from here</a>
        
        <to-do></to-do>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                message: "test",
                src: "https://www.pcstore.bg/skin/frontend/pcstore/default/images/pcstore-logo.png",
                clicked: 0,
                bs: ["a", "b", "c", { a: 1, b: 2 }],
                ttt: "tesd",
                input: "inputed",
                progress:"https://vuejs.org/v2/guide/#Composing-with-Components"
            },
            methods: {
                click: function () {
                    alert(this.input)
                }
            },

        });
        Vue.component('to-do', {
            template: '<p>componenti</p>'
        })
        app.bs.push(5);
    </script>
</body>

</html>